package pages

import (
	"github.com/supersupersimple/comment/app/model"
	"github.com/supersupersimple/comment/app/templates/comment/components"
)

templ Page(pageVals *model.PageVals, comments []*model.Comment) {
	@Base(pageVals)
	@components.ReplyBox(nil, "")
	<div class="my-8"></div>
	@components.CommentList(comments)
	<footer class="text-center my-4 text-sm text-gray-200"><a href="https://github.com/supersupersimple/comment" target="_blank">Powered by sssComment</a></footer>
}
