package adminpages

import (
	"github.com/supersupersimple/comment/app/model"
	"github.com/supersupersimple/comment/app/templates/admin/admincomponents"
)

templ Page(pageVals *model.AdminPageVals, comments []*model.AdminComment) {
	@Base(pageVals)
	@admincomponents.Header()
	@admincomponents.CommentsTable(comments)
}
